:root {
  /* Color variables */
  --color-black: #000000;
  --color-off-black: #111111;
  --color-poppy: #da3838; /* da3838 */
  --color-red: #f03E3E; /* f03E3E */
  --color-pumpkin: #ff7920;
  --color-melon: #f5c0b6;
  --color-linen: #f6ebdd;
  --color-dun: #D8C6AB;
  --color-whote: #ffffff;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;

  /* Border radius */
  --border-radius-sm: 2px;
  --border-radius-md: 4px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;

  /* Transitions */
  --transition-fast: all 0.1s ease;
  --transition-default: all 0.2s ease;
  --transition-slow: all 0.3s ease;
  --transition-slowest: all 0.5s ease;

  /* Typography */
  --font-family-mono: 'Ubuntu Mono', monospace;
  --font-family-varuna: 'VARUNA', sans-serif;

  /* Font size */
  --font-size-md: 1.5em;
  --font-size-lg: 2.5em;
  --font-size-xl: 3.5em;
  --font-size-xxl: 4.5em;
}
* {
  box-sizing: border-box;
}
/* Base Styles */
body {
  font-family: var(--font-family-mono);
  background-color: var(--color-pumpkin);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  transition: var(--transition-default);
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: var(--spacing-lg);
  border-bottom: var(--border-radius-sm) solid var(--color-black);
  border-top: var(--border-radius-sm) solid var(--color-black);
  overflow: hidden;
  scroll-snap-align: start;
}


/* ===== Navigation ===== */
.nav {
  position: fixed;
  top: var(--spacing-sm);
  left: 0;
  right: 0;
  display: flex;
  opacity: 1;
  width: 100%;
  transition: var(--transition-slow);
  z-index: 1000;
}

.nav .nav-container {
  display: flex;
  align-items: center;
  width: 70%;
  padding: var(--spacing-sm);
  margin: 0 auto;
  font-family: var(--font-family-varuna);
  font-weight: bold;
  font-size: var(--font-size-sm);
  border: var(--border-radius-sm) solid var(--color-black);
  border-radius: var(--border-radius-md);
  box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
  background: var(--color-linen);
  transition: var(--transition-default);
}

.nav .nav-logo {
  display: flex;
  padding: 0 var(--spacing-xs);
  margin: 0;
  cursor: pointer;
}

.nav .nav-logo img {
  margin-right: var(--spacing-sm);
  margin-left: 0;
  width: 40px;
  height: 40px;
  border: var(--border-radius-sm) solid var(--color-black);
  border-radius: var(--border-radius-md);
  background-color: var(--color-red);
}

.nav .nav-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-left: var(--border-radius-xl);
  list-style-type: none;
  gap: var(--border-radius-xl);
}
.nav .nav-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: var(--border-radius-sm) solid var(--color-black);
  border-radius: var(--border-radius-md);
  box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
  transition: var(--transition-default);
}
.nav .nav-container ul li:hover {
  transition: var(--transition-default);
}
.nav .nav-container a {
  color: var(--color-black);
  text-decoration: none;
  padding: 0 var(--spacing-sm);
  
}
#nav-adhesion-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  height: 40px;
  font-family: var(--font-family-varuna);
  font-size: var(--font-size-sm);
  color: var(--color-linen);
  border: var(--border-radius-sm) solid var(--color-black);
  border-radius: var(--border-radius-md);
  box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
  background: var(--color-red);
  transition: var(--transition-default);
}
#nav-adhesion-button:hover {
  cursor: pointer;
  box-shadow: none;
  background: var(--color-poppy);
  transition: var(--transition-default);
}

.hamburger {
  display: none;
  cursor: pointer;
}
.overlay {
  display: none;
}


/* ===== hero Section ===== */
.hero {
  position: relative;
  box-shadow: none;
  box-sizing: content-box;
  border-top: none;
  height: 100vh;
  padding: 0 var(--spacing-lg);
  background: var(--color-red);
}
.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hero-content-wrapper::-webkit-scrollbar {
  display: none;
}
.hero-content {
  scroll-snap-align: start;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--spacing-md);
  flex-shrink: 0;
  transition: var(--transition-slowest);
}
.hero-content {
  opacity: 0;
}
.hero-content.visible {
  opacity: 1;
}
.hero-title {
  width: 80%;
  height: auto;
  font-family: var(--font-family-varuna);
  font-weight: bold;
  font-size: var(--font-size-xxl);
  color: var(--color-linen);
  margin: 0 auto;
  line-height: 1.2;
  text-align: center;
}
.hero-subtitle {
  font-family: var(--font-family-varuna);
  font-size: var(--font-size-lg);
  font-weight: bold;
  text-align: justify;
  color: var(--color-linen);
  text-align: center;
}
.hero-button {
  width: fit-content;
  padding: var(--spacing-md);
  margin: 0 auto var(--spacing-md) auto;
  font-family: var(--font-family-varuna);
  font-size: var(--font-size-md);
  color: var(--color-black);
  border-radius: var(--border-radius-md);
  border: var(--border-radius-sm) solid var(--color-black);
  box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
  background-color: var(--color-linen);
  animation: scale 1s ease infinite;
  
  
}
.hero-button:hover {
  cursor: pointer;
  box-shadow: none;
  transition: var(--transition-default);
}
@keyframes scale {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-4px); }
  100% { transform: translateY(0px); }
}
.hero-text {
  display: flex;
  width: clamp(300px, 90%, 400px);
  padding: var(--spacing-md);
  margin: 0 auto;
  font-family: var(--font-family-varuna);
  font-size: var(--font-size-md);
  border: var(--border-radius-sm) solid var(--color-black);
  box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
  background-color: var(--color-linen);
  transition: var(--transition-slow);
  z-index: 1;
}


/* ===== FAQ Section ===== */

.faq-container {
  justify-content: space-evenly;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  background: var(--color-melon);
  border-bottom: none;
}
.faq-container h2 {
  color: var(--color-off-black);
}
.faq-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
}

.faq-item {
  width: 70%;
  height: fit-content;
  border: var(--border-radius-sm) solid var(--color-black);
  border-radius: var(--border-radius-md);
  box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
  background-color: var(--color-linen);
  overflow: hidden;
  transition: var(--transition-default);
}

.faq-item:hover {
  box-shadow: none;
  transition: var(--transition-default);
}

.faq-item-title {
  padding: 1rem;
  margin: 0;
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.faq-item-content {
  padding: 0 1rem;
  max-height: 0;
  font-size: var(--font-size-sm);
  overflow: hidden;
  transition: var(--transition-default);
}


/* Container for the chat */
.chat-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-md);
  box-shadow: 4px 4px var(--color-black);
  background-color: var(--color-linen);
  max-width: var(--max-width);
  max-height: 70vh;
  transition: var(--transition-default);
}

.chat-container:hover {
  box-shadow: none;
  transition: var(--transition-default);
}


/* Message list container */
.message-list {
  flex: 1;
  justify-content: flex-end;
  overflow-y: scroll;
  height: 70vh;
}

.message-list::-webkit-scrollbar {
  display: none;
}

/* Message bubble container */
.message {
  display: flex;
  margin-bottom: 15px;
}

/* User message bubble */
.message.user {
  justify-content: flex-end;
}

/* Bot message bubble */
.message.bot {
  justify-content: flex-start;
}

/* Message bubble styling */
.message-bubble {
  max-width: 75%;
  padding: 10px 15px;
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-md);
  font-weight: bold;
  line-height: 1.4;
  z-index: 1000;
}

/* User message bubble styling */
.message.user .message-bubble {
  margin-right: 10px;
  background-color: var(--color-red);
  color: var(--color-linen);
  border: 2px solid var(--color-black);
  box-shadow: 4px 4px var(--color-black);
  border-bottom-right-radius: 0;
}

/* Bot message bubble styling */
.message.bot .message-bubble {
  margin-left: 10px;
  background-color: var(--color-linen);
  color: var(--color-black);
  border: 2px solid var(--color-black);
  box-shadow: 4px 4px var(--color-black);
  border-bottom-left-radius: 0;
}

/* Input container */
.input-container {
  display: flex;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: var(--border-radius-md);
}

/* Input field */
.input-container input[type="text"] {
  flex: 1;
  margin: 0;
  padding: 0 10px;
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
  font-weight: bold;
}

.input-container input[type="text"]:focus-visible {
  outline: none;
}

/* Send button */
.input-container button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-md);
  box-shadow: 4px 4px var(--color-black);
  background-color: var(--color-linen);
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: var(--transition-default);
}

.input-container button:hover {
  box-shadow: none;
  transition: var(--transition-default);
}

/* Skeleton loader styles */
.skeleton-loader {
  display: none;
  flex-direction: column;
  gap: 15px;
}

.skeleton-message {
  width: auto;
  /* Match the width of bot messages */
  height: auto;
  /* Adjust the height as needed */
  background-color: var(--color-linen);
  color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-md);
  border-bottom-left-radius: 0;
  box-shadow: 4px 4px var(--color-black);
  position: relative;
  overflow: hidden;
}

.skeleton-message::before {
  content: '...';
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* ===== Se syndiquer Section ===== */

.adhesion-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  height: fit-content;
  margin: 0 auto;
  max-width: var(--max-width);
  transition: var(--transition-slow);
  background: var(--color-red);
  border-top: none;
}

.adhesion-content {
  width: 70%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-lg);
}

.adhesion-content .text {
  color: var(--color-linen);
}

.adhesion-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  width: 100%;
  gap: var(--spacing-md);
  margin-top: var(--spacing-lg);
  margin-left: 0%;
  padding: var(--spacing-lg);
  background: var(--color-linen);
  border: var(--border-radius-sm) solid var(--color-black);
  box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
  transition: var(--transition-default);
}

.adhesion-form:hover {
  box-shadow: none;
  transition: var(--transition-default);
}

.adhesion-form label {
  color: var(--color-black);
  font-weight: bold;
  font-family: var(--font-family-varuna);
  margin: auto;
}

.adhesion-form input,
.adhesion-form select {
  padding: var(--spacing-sm);
  border: var(--border-radius-sm) solid var(--color-black);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family-varuna);
  text-align: text-bottom;
}

.adhesion-form button {
  grid-column: 1 / -1;
  padding: var(--spacing-md);
  background: var(--color-linen);
  color: var(--color-black);
  border: var(--border-radius-sm) solid var(--color-black);
  box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition-default);
}

.adhesion-form button:hover {
  box-shadow: none;
  transition: var(--transition-default);
}

/* ===== Contact Section ===== */
.contact-container {
  width: 100%;
  max-width: var(--max-width);
  background: var(--color-pumpkin);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: none;
  transition: var(--transition-slow);
}

.contact-content p {
  color: var(--color-linen);
}

.contact-content p strong {
  color: var(--color-linen);
}

.contact-content a {
  color: var(--color-linen);
  text-decoration: none;
  border-bottom: 1px dotted var(--color-linen);
  transition: var(--transition-default);
}

.contact-info a:hover {
  opacity: 0.8;
}

.copy-button {
  background: none;
  border: none;
  cursor: pointer;
}

.copy-icon {
  width: 20px;
  height: 20px;
}

/* ===== Google Maps ===== */
#google-map {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 800px;
  height: 50%;
  margin: 0 auto;
  border-radius: var(--border-radius-lg);
}


/* ===== Footer ===== */
footer {
  position: relative;
  width: 70%;
  margin: 0 auto;
  bottom: var(--spacing-sm);
  text-align: center;
  border: var(--border-radius-sm) solid var(--color-black);
  border-radius: var(--border-radius-md);
  box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
  background: var(--color-linen);
}

footer p {
  color: var(--color-black);
  font-weight: bold;
  font-size: 1em;
}

.copied-snackbar {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 10px);
  opacity: 0;
  background-color: var(--color-pumpkin);
  color: var(--color-linen);
  font-family: var(--font-family-varuna);
  font-weight: bold;
  line-height: 0.4;
  padding: 0 10px;
  border: var(--border-radius-sm) solid var(--color-black);
  border-radius: var(--border-radius-md);
  box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
  transition: var(--transition-fast);
}