@media (max-width: 1100px) {
    :root {
        --font-size-sm: 0.8em;
        --font-size-md: 1em;
        --font-size-lg: 1.2em;
        --font-size-xl: 2.8em;
        --font-size-xxl: 3em;
    }
    .nav .nav-container {
        width: 90%;
    }
    .nav-menu {
        display: none !important;
    }
    .nav .nav-logo {
        margin: 0;
    }
    #nav-adhesion-button {
        margin-right: var(--border-radius-xl);
        font-size: var(--font-size-lg);
    }
    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: var(--border-radius-md);
        border: var(--border-radius-sm) solid var(--color-black);
        border-radius: var(--border-radius-md);
        box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
        background: var(--color-red);
        transition: var(--transition-default);
    }
    .hamburger:hover {
        cursor: pointer;
        box-shadow: none;
        background: var(--color-poppy);
        transition: var(--transition-default);
    }
    .hamburger .line {
        width: 16px;
        height: 2px;
        background-color: var(--color-linen);
        margin: 4px;
    }
    .overlay {
        display: none;
        opacity: 0;
        align-items: center;
        justify-content: center;
        width: 90%;
        transform: translateY(-5%);
        height: fit-content;
        padding: 0 var(--spacing-md);
        margin: var(--spacing-md) auto;
        border: var(--border-radius-sm) solid var(--color-black);
        border-radius: var(--border-radius-md);
        box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
        background: var(--color-linen);
        transition: var(--transition-default);
        overflow: hidden;
        z-index: 1;
    }
    .overlay a {
        display:flex;
        font-family: var(--font-family-varuna);
        font-size: var(--font-size-md);
        text-decoration: none;
        vertical-align: bottom;
        color: var(--color-black);
        border: var(--border-radius-sm) solid var(--color-black);
        border-radius: var(--border-radius-md);
        background-color: var(--color-linen);
        padding: var(--spacing-md);
        margin: var(--spacing-md) auto;
        transition: var(--transition-default);
    }
    .overlay a:hover {
        cursor: pointer;
        background-color: var(--color-dun);
        transition: var(--transition-default);
    }
    .hero-subtitle {
        font-size: var(--font-size-md);
    }
    .hero-button {
        font-size: var(--font-size-md);
    }
    .faq-item {
        width: 90%;
    }
    .chat-container {
        width: 90%;
    }
    .input-container button {
        font-size: var(--font-size-md);
    }
    .faq-item-title {
        font-size: var(--font-size-md);
    }
    .adhesion-content {
        width: 82%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, auto);
        justify-items: center;
    }
    .contact-container {
        flex-direction: column;
    }
    .adhesion-container {
        min-height: max(1600px, 150vh);
    }
    footer {
        width: 90%;
    }
}