:root {
    --font-size-sm: 1em;
    --font-size-md: 1.2em;
    --font-size-lg: 1.6em;
    --font-size-xl: 3.5em;
}

@media (max-width: 980px) {
    .nav {
        width: 100%;
        border-radius: 0;
        top: 0;
        border: none;
        border-bottom: var(--border-radius-md) solid var(--color-black);
        background: var(--color-white);
        padding: var(--spacing-xs);
        box-shadow: none;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .nav-container {
        width: 100%;
        
    }

    .nav-logo {
        height: auto;
    }

    .nav-logo img {
        width: 40px;
        height: 40px;
    }

    .nav .nav-logo svg path {
        fill: var(--color-black);
    }

    .nav-menu {
        display: none !important;
    }

    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: var(--border-radius-md);
        background-color: var(--color-white);
        width: 40px;
        height: 40px;
        border: var(--border-radius-sm) solid var(--color-black);
        border-radius: var(--border-radius-md);
        box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
    }

    .hamburger:hover {
        background-color: var(--color-red);
        box-shadow: none;
        transition: var(--transition-default);
    }

    .hamburger .line {
        width: 16px;
        height: 2px;
        background-color: var(--color-black);
        margin: 4px;
    }

    .hamburger .overlay {
        height: 0;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        border-radius: var(--border-radius-sm);
        background-color: var(--color-white);
        overflow-x: hidden;
        /* Disable horizontal scroll */
        transition: var(--transition-default);
    }

    .overlay .content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
    }

    a {
        display: block;
    }

    .overlay .dropdown-content {
        align-items: center;
        position: relative;
        top: 0;
    }

    .dropdown-content a {
        text-align: center;
    }


    .hero {
        margin: 0 auto;
    }

    .hero-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-md);
    }

    .hero-title {
        text-align: center;
        margin: auto;
        height: auto;
    }

    .hero-subtitle {
        font-size: var(--font-size-md);
        text-align: center;
    }

    .hero-button {
        width: fit-content;
        padding: var(--spacing-md);
        margin: 0 auto var(--spacing-md) auto;
        font-family: var(--font-family-varuna);
        border-radius: var(--border-radius-md);
        border: var(--border-radius-sm) solid var(--color-black);
        box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
        background-color: var(--color-red);
        transition: var(--transition-default);
    }

    .hero-button:hover {
        box-shadow: none;
        background-color: var(--color-white);
        transition: var(--transition-default);
    }

    .hero-text {
        scale: 0;
        position: absolute;
        padding: var(--spacing-md);
        border: var(--border-radius-sm) solid var(--color-black);
        box-shadow: var(--border-radius-md) var(--border-radius-md) var(--color-black);
        transition: var(--transition-default);
        z-index: 1;
    }

    #faq-hero {
        text-align: center;
    }

    #faq-transition {
        height: 100px;
        background: linear-gradient(to bottom, #f92217, var(--color-yellow));
    }

    #adhesion-transition {
        height: 100px;
        background: linear-gradient(to bottom, var(--color-yellow), var(--color-red));
    }

    #contact-transition {
        height: 100px;
        background: linear-gradient(to bottom, var(--color-red), var(--color-pink));
    }

    .hero-text {
        text-align: left;
    }

    .faq-container {
        width: 100%;
        margin: auto;
        background: var(--color-yellow);
    }

    .faq-item {
        width: 90%;
        background-color: var(--color-white);
    }

    .chat-container {
        width: 90%;
        background-color: var(--color-white);
    }

    .content-title {
        font-size: var(--font-size-lg);
    }

    .faq-title {
        padding-right: 10vw;
        font-size: var(--font-size-md);
        text-overflow: ellipsis;
    }

    .faq-content {
        font-size: var(--font-size-sm);
    }

    #adhesion .container {
        width: 82%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, auto);
        justify-items: center;
    }

    .contact-container {
        flex-direction: column;
    }
}